@import url("https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:700");

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background: #f6f8fe;
  display: flex;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  margin: 0;
}
